{% extends "main.html" %}
{% load static %}
{% block meta %}

<title> {{ meta.title }} </title>
<meta name="description" content="{{ meta.description }}">

{% endblock meta %}
{% block content %}
    <h1>Your shopping cart</h1>
    <table class="table table-sm">
        <thead>
        <tr>
            <th scope="col">Image</th>
            <th scope="col">Product</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Unit price</th>
            <th scope="col">Remove</th>
        </tr>
        </thead>
        <tbody>
        {% for item in basket %}
            {% with product=item.product %}
                <tr>
                    <td>
                        <a href="{{ product.get_absolute_url }}">
                            <img src="{{ request.scheme }}://{{ request.get_host }}/{{ product.image }}" style="width:100px;">
                        </a>
                    </td>
                    <td>{{ product.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td class="num">{{ item.price }} {{ item.currency }}</td>
                    <td class="num">{{ item.total_price }} {{ item.currency }}</td>
                    <td><a class="btn btn-danger btn-sm active" role="button" href="{% url "shop:remove_from_basket" product.id %}">Remove</a></td>

                </tr>
            {% endwith %}
        {% endfor %}
        <tr class="total">
            <td>Total</td>
            <td colspan="4"></td>
            <td class="num">{{ basket.get_total_price }}</td>
        </tr>
        </tbody>
    </table>
    <p class="text-center">
        <a href="{% url "core:index"  %}" class="btn btn-light btn-sm">Continue shopping</a>
        <a href="#" class="btn btn-success">Checkout</a>
    </p>
{% endblock %}