{% extends "main.html" %}
{% load static %}
{% block meta %}
<title> {{ meta.title }} </title>
<meta name="description" content="{{ meta.description }}">

{% endblock meta %}


{% block content %}
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="page-breadcrumb">
                        <ol class="breadcrumb">
                            <li><a href="{{ request.scheme }}://{{ request.get_host }}">Sound equipment</a></li>
                            <li><a href="{{ request.scheme }}://{{ request.get_host }}/{{ current_category.alias }}">{{ current_category.name }}</a></li>
                            <li><a href="{{ request.scheme }}://{{ request.get_host }}/{{ current_category.alias }}/{{current_sub_category.alias}}"> {{ current_sub_category.name }} </a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="space-medium">
    <div class="container">
        <div class="row">
            <div class="isotope">

<div class="container py-4 my-4 mx-auto d-flex flex-column">
    <div class="header">
        <div class="row r1">
            <div class="col-md-9 abc">
                <h1>{{ product.name.capitalize }}</h1>
            </div>
            <div class="col-md-3 text-right pqr"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
            <div class="col-md-3 text-right pqr"><p class="text-right para">{{ product.price }} {{ product.currency }} </p>
                <form action="{% url "shop:add_to_basket" product.id %}" method="post">
                    {{ form_add_to_basket }}
                    {% csrf_token %}
                    <input type="submit" value="BUY">
                </form>
                <!--button type="button" class="btn btn-outline-warning"><a href="#">BUY NOW</a></button-->
            </div>

        </div>
    </div>
    <div class="container-body mt-4">
        <div class="row r3">
            <div class="col-md-5 p-0 klo">
                <ul>
                    <li>Brand: {{ product.brand.name }}</li>
                    <li>12 Months Warranty</li>

                </ul>
            </div>
            <div class="col-md-7"> <img src="{{ MEDIA_URL }}{{ product.image }}" width="90%" height="95%">

            </div>
        </div>
    </div>



        </div>
    </div>
</div>
</div>
</div>
{% endblock content %}