{% extends "main.html" %}
{% load static %}
{% block meta %}

<title> {{ meta.title }} </title>
<meta name="description" content="{{ meta.description }}">

{% endblock meta %}
{% block content %}
 <h1>Checkout</h1>
    <div class="container w-100">
        <div class="row">
            <div class="col">
                <form method="post" class="order-form">
                    <table class="table-dark">{{ form.as_table }}</table>
                    <p><input type="submit" value="Finish"></p>
                    {% csrf_token %}
                </form>
            </div>
            <div class="col">
                <h3>Your order</h3>
                <ul>
                    {% for item in basket %}
                        <li>
                            {{ item.quantity }}x {{ item.product.name }}
                            <span>{{ item.total_price }} {{ item.currency }}</span>
                        </li>
                    {% endfor %}
                </ul>
                <p>Total: {{ basket.get_total_price }}</p>
            </div>
        </div>
    </div>
{% endblock %}